.item {
  padding: .6em;
  border: 1px solid #999;
  display: flex;
  align-items: center;
}
.item + .item {
  margin-top: 1em;
}
.item > img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  display: block;
  margin-right: 1em;
}
.itemContent{
  flex: 1;  
}
.like{
  font-size: 0.75em;
  color: rgb(143, 143, 143);
  margin-bottom: 1em;
}
.itemContent > button{
  background: darkred;
  color: #fff;
  border: none;
  padding: .3em .7em;
  cursor: pointer;
}